/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/.phpstorm.meta.php
!/_ide_helper.php
!/_ide_helper_models.php
/public/dist/
app/.DS_Store
app/Http/.DS_Store
app/Http/View/.DS_Store
app/Models/.DS_Store
database/.DS_Store
public/.DS_Store
resources/.DS_Store
resources/fonts/.DS_Store
resources/images/.DS_Store
resources/images/placeholders/.DS_Store
resources/js/.DS_Store
resources/sass/.DS_Store
resources/sass/components/.DS_Store
resources/views/.DS_Store
resources/views/layout/.DS_Store
resources/views/login/.DS_Store
resources/views/pages/.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
tests/.DS_Store
/.vscode/
